[submodule "meta-qt5"]
	path = meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
	branch = rocko
[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky.git
	branch = rocko
[submodule "meta-ivi"]
	path = meta-ivi
	url = https://github.com/GENIVI/meta-ivi.git
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = rocko
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
	branch = rocko
[submodule "genivi-dev-platform"]
	path = genivi-dev-platform
	url = https://github.com/GENIVI/genivi-dev-platform.git
