build-*/downloads/
build-*/cache/
build-*/conf/sanity_info
build-*/conf/templateconf.cfg
build-*/sstate-cache/
build-*/bitbake-cookerdaemon.log
build-*/tmp/

build-qemu/downloads/
build-qemu/cache/
build-qemu/conf/sanity_info
build-qemu/conf/templateconf.cfg
build-qemu/sstate-cache/
build-qemu/bitbake-cookerdaemon.log
build-qemu/tmp/

build-rpi3/downloads/
build-rpi3/cache/
build-rpi3/conf/sanity_info
build-rpi3/conf/templateconf.cfg
build-rpi3/sstate-cache/
build-rpi3/bitbake-cookerdaemon.log
build-rpi3/tmp/
